body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1.5rem;
}

#root {
  display: grid;
  grid-template-rows: repeat(1, 60px 1fr 60px );
}

.content {
  padding: 1.5rem 0;
  margin-bottom: auto;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.goods h2 {
  grid-column: 1/4;
}

.right {
  font-size: 1.8rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .card-content {
  flex-grow: 1;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: .5rem 1rem;
}

@media (min-width: 767px) {
  .cart {
    top: 4.5rem;
    bottom: unset;
  }
}

.cart-quantity {
  margin-top: .5rem;
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  width: 40rem;
  max-width: 90%;
  max-height: 95vh;
  border: 0;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 19px 0 #0b325e, 5px 5px 15px 5px rgba(0,0,0,0);
  animation: show 500ms ease-in-out;
  overflow-y: auto;
}

@keyframes show {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #fff;
}

.basket-item-delete {
  cursor: pointer;
}

.add-quantity, .delete-quantity {
  margin: 0 .5rem;
  transform: translateY(25%);
  cursor: pointer;
}

.delete-quantity {
  color: red;
}

.add-quantity {
  color: #00dc00;
}

.tooltip-container {
  top: 5% !important;
  animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 766px) {
  .tooltip-container {
    top: -8% !important;
  }
  .collection-item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .collection-item .secondary-content {
    position: absolute;
    right: 5%;
  }
  .toast {
    max-width: 90%;
  }
  .checkout-order {
    margin-top: .5rem;
  }
}

.collection-item.basket-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
